footer {
    background-color: #f2f2f2;
    padding: 30px 0;
  }
  
.container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.title-footer {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
  }

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
p  {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
br {
    line-height: 150%;
 }

.links {
    line-height:200%;
}
.fa {
    padding: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    font-size: 20px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-bottom: 8px;
  }
.fa-twitter-f:before, .fa-twitter:before {
    content: "\f09a";
    font-size: 20px;
}
  .fa-twitter {
    background: #55ACEE;
    color: white;
    margin-bottom: 8px;
  }
  .fa-instagram-f:before, .fa-instagram:before {
    content: "\f09a";
    font-size: 20px;
}
  .fa-instagram {
    background: #125688;
    color: white;
    margin-bottom: 8px;
  }






/* menu */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
  
.menuItem {
  display: block;
  margin: 1rem 0rem;
  margin-top: 1rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed; 
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: none;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explore{
  margin: 5px;
  font-size: 30 px;
  list-style-type: none;
}

.login-button{
  margin-right:30px;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(64, 62, 62);
  color: white;
  list-style: none;
  padding-top: 4rem;
  width: 40%;
  height: 100vh;
  border: 10px;
}

.menu li:first-child {
 margin-top: 90px;
}

.showMenu {
  transform: translateX(0);
}

.logo li{
  list-style-type: none;
}

.logo{
  border: none;
  margin: 0;
  /* position: absolute; */
  top: 0;
  right: 50%;
  padding: 4px;
  background-color: white;
  /* justify-content: center; */
  /* align-items: center; */
}

.Caraway{
  font-size: 30px;
}

.quote{
  font-size: 15px;
}

.logoItem {
  text-decoration: none;
  color: black;
}

.login{
  cursor: pointer;
    border: none;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 95%;
    padding: 4px;
    margin-top: 25px;
  


}

.menu-bar{
  margin-bottom: 300px;
}

.logo-div{
  text-align: center; 
  /* margin-top: -40px; */
}

.closeIcon {
  display: none;
}

.home{
  text-align: center;
  margin-top: 50px;
}

.review-title{
  text-align: center;
}

#home-img{
  margin-bottom: 50px;
  max-width: 80%;
  height: auto;
}

#woman-img{
  /* max-width: 300px; */
  height: auto;
  /* margin-left: 200px; */
  align-self: center;
  /* margin-left: 600px; */
  width: 300px;
}

.review-one{
  /* display: flex; */
	/* flex-direction: row;
	flex-wrap: wrap; */
  max-width: 100%;
  align-items: center;
  /* min-width: 500px;
  background-color: pink;
  align-items: center; */
  display: flex;
}

.review-text{
  text-align: center;
  /* max-width: 30px; */
}

.test{
  display: flex;
	/* flex-direction: row;
	flex-wrap: wrap; */
  min-width: 500px;

  align-items: center;
}

.image-div{
  min-width: 500px;
}

.rev-text{
  max-width: 25%;
  text-align: center;
  /* margin-top: 90px; */
}

.review-div{
  display: flex; 
  justify-content:center; 
  align-items: center; 
  height: 100vh;
}